body{
    width: 100%;
    padding: auto;
    background-color: blueviolet;  
}

#div1{
    display: flex;
    justify-content: center; 
    background-color: rgba(245, 245, 220, 0.671);
    width: auto;
    height: auto;
}


#div2{
    display: flex;
    justify-content: center; 
    background-color: rgba(245, 245, 220, 0.671);
    width: auto;
    height: auto;
}

h1{
    display: flex;
    text-align: center;
}

p{
    display: flex;
    text-align: center;
} 

figcaption{
    background-color: rgba(240, 248, 255, 0.813);
    height: auto;
}

#image{
   object-fit: contain;
   border-color: darkorange;
   
}

#img-div{
    border: 3px;
    background-color: aqua;
    padding: 12px 12px 12px 12px;
    
   

}
img{
max-width:100%; 
height:relative;
display: block;
    }


    #img-caption{
        display: flex;
        border: 3px;
       background-color: aqua;
        border-radius: 25px;
        margin: 13px;
    }
    span{
        font-style: normal;
        font-weight: bold;
        font-size: larger;
    }